$white: #fff;
$font-size-medium: 14px;
$font-custom-color: 'red';
$font-weight-bold-one: 500;
$font-weight-bold-two: 600;
$font-size-xx-large: 18px;
$border-radius-default: 3px;
$border-color-default: #e4e6eb;
$dark-overflow-bg: #0006;
$border-default: 1px solid $border-color-default;
$layout-transition-speed: 0.3s !default;
$layout-transition-higher-speed: 0.6s !default;
